  <%- include("partials/header"); -%>
          <h1>Home</h1>
          <p> <%= startingContent %> </p>
          <div class="card-columns">
          <%  posts.forEach(function(post){ %>
              <div class="card">
                <img class="card-img-top" src="./uploads/<%=post.imageName %>"  alt="image">
                <div class="card-body">
                  <h5 class="card-title"><%=post.title%></h1>
                  <p class="card-text">
                  <%=post.content.substring(0, 500) + " ..."%>
                  <a href="/posts/<%=post._id%>">Read More</a>
                  </p>
                  <p class="card-text"><small class="text-muted"><i class="far fa-user"></i>admin</small></p>
                </div>
              </div>
          <% }) %>
          </div>
<%- include("partials/footer"); -%>
